
<nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="containter-fluid">
        <div class="row">
          <h1 style="margin-left: 20px;" id="brandtext" class="navbar-brand ciaq-font" routerLink="/">Canadian Indoor Air Quality</h1>
        </div>
        <div class="row">
            <p style="margin-left: 20px;"  class="ciaq-font">Making Homes Breathable Again.</p>
        </div>
    </div>
      <ul class="navbar-nav m-auto" >
        <li class="nav-item navbaritem">
          <a class="nav-link" routerLink="">Home</a>
        </li>
        <li class="nav-item navbaritem">
            <a class="nav-link" routerLink="services">Services</a>
          </li>
        <li class="nav-item navbaritem">
          <a class="nav-link" routerLink="contact">Contact Us</a>
        </li>
      </ul>
  </nav>
  