
<div class="container">
    <br>
    <br>
    <div class="row">

        <h1 class="display-6 text-center ciaq-font">What We Do</h1>
    </div>
    <br>
    <br>
    <div class="row">

        <div class="col-6 service-section">
            <br>
            <p class="display-9 ciaq-font">By connecting a smart device to various automated sensors, our experts will test the quality of the air in your home. Based on the home's indoor air quality needs, custom ventilation and air purification systems will be installed all of which can be controlled by a mobile device.</p>
            <br>
            <h5>Our services will:</h5>
            <br>
            <ul>
                <li>Reduce & Eliminate odors</li>
                <br>
                <li>Reduce Airborne Viruses</li>
                <br>
                <li>Improve Ventilation</li>
                <br>
                <li>Automate Indoor Air Quality</li>
                <br>
            </ul>

        </div>

        <div class="col-6">
            <img style="height:100%; width:100%;" src="../../assets/img/sky.jpeg">

        </div>
    </div>
</div>