
<body>
<div class="container-fluid">
    <div id="bghome" class=" jumbotron text-white jumbotron-image shadow m-auto">
        <div class="row">
            <div class="col homebannertext">
                <h2 class="display-2 text-center mx-auto">Rethink Indoor Air</h2>
                <br>
                <br>
            </div>
        </div>
            
            <div class="row">
                <div class="col-6 mx-auto">
                    <br>
                    <br>
                    <h3 class="">Indoor Air Quality Facts:</h3>
                    <hr>
                    <ul>
                        <li>People spend the majority of our time indoors</li>
                        <li>On average, people take 20,000 breaths each day</li>
                        <li>The quality of indoor air is 5 times worse than outdoor air</li>
                        <li>The most familiar household items & appliances are the biggest polluters.</li>
                        <li>Indoor air contaminants damage more than your airways.</li>
                    </ul>
                </div>
            </div>
           
        </div>
</div>
  </body>